*,fe1 gitlab-language=make linguist-language=makefile
c/* gitlab-language=c linguist-language=c
h/* gitlab-language=c linguist-language=c
s/* gitlab-language=armasm linguist-language=assembly
**/c/* gitlab-language=c linguist-language=c
**/h/* gitlab-language=c linguist-language=c
